* {
  box-sizing: border-box;
}

:root {
  --MainColor: hsl(47, 88%, 63%);
}

body {
  font-family: Figtree;
  padding-top: 10rem;
  display: grid;
  place-items: center;
  background-color: var(--MainColor);
}

article {
  display: grid;
  place-items: center;
  padding-top: 0.75rem;
  width: 25rem;
  height: 32rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 10px 10px;
}

header > h1 {
  width: fit-content;
  padding: 4px 11px;
  background-color: var(--MainColor);
  margin-bottom: 12px;
  font-size: small;
  font-weight: bolder;
  border-radius: 3px;
}

section {
  padding-left: 2rem;
}

section > h1 {
  font-size: x-large;
  font-weight: bold;
}

section > h1:hover {
  color: var(--MainColor);
  cursor: pointer;
}

section > p {
  font-size: large;
}

footer {
  display: flex;
  align-items: flex-start;
  margin-top: auto;
  width: 100%;
  padding: 0 1rem;
  font-weight: bolder;
}

.image-avatar {
  scale: 0.5;
  margin-right: -7px;
}

@media (max-width: 480px) {
  article {
    height: 125%;
  }
  header {
    margin-bottom: -1.5rem;
  }
  header > h1 {
    margin-top: 1rem;
  }
  section {
    margin-bottom: 0;
  }
  footer {
    margin-top: -1rem;
  }
}

/* end */
